:root {
    --white: hsl(240, 100%, 98%);
    --blue: hsl(240, 100%, 63%);
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}
button {
    border-width: 0px;
    border-radius: 3px;
    margin: 1px;
}

input {
    border-width: 1px;
    border-color: #8f929f;
    border-radius: 3px;
    padding: 0px;
    margin: 1px;
}

.tile {
    display: inline-block
}

.game_container > div {
    display: flex;
}

.game_container > div > div {
    border-radius: 3px;
    margin: 1px;
}

.number_border {
    background: linear-gradient(to right, var(--white), var(--blue));
    margin: 1px;
    border-radius: 3px;
}

#shortcuts {
    display:none
}

#shortcuts_commands {
    display:none
}

#undo{
    display:none
}
#input_shuffle {
    display:none
}
#solution_commands {
    display:none
}
#reset {
    display:none
}

