:root {
    --white: hsl(240, 100%, 98%);
    --blue: hsl(240, 100%, 63%);
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}
button {
    border-radius: 6px;
    margin: 1px;
}

input {
    border-width: 1px;
    border-color: #8f929f;
    border-radius: 3px;
    padding: 0px;
    margin: 1px;
}

.tile {
    display: inline-block;
    position: absolute;
    border-radius: 2px;
}

.game_container > div {
    display: flex;
}

.game_container > div > div {
    border-radius: 2px;
    margin: 1px;
}

.number_border {
    background: linear-gradient(to right, var(--white), var(--blue));
    margin: 1px;
    border-radius: 2px;
}

#time {
    background-color: rgb(245, 245, 255);
}

#title {
    background-color: rgb(245, 245, 255);
    font-weight: bold;
}

#numbers {
    /* establishes a positioning context / containing block
     https://www.youtube.com/watch?v=jtuIS3CWpFo */
    position: relative;
}


